body {

    font: 400 16px/24px roboto, sans-serif;

    --space-1: 4px;
    --space-2: calc( var( --space-1 ) * 2 );
    --space-3: calc( var( --space-1 ) * 3 );
    --space-4: calc( var( --space-1 ) * 4 );

    form {     
        box-sizing: border-box;
        display: flex;
        gap: var( --space-4 );
        margin-bottom: var( --space-4 );
    
        div {
            display: flex;
            flex-direction: column;
            gap: var( --space-2 );
    
            label {
                font-weight: bold;
            }
        }
    }

}

